/* .tasks {
    display: flex;
      justify-content: space-between;
      
  } */
  
  .tasks {
    background-color: rgb(231, 242, 247);
    opacity: 0.9;
    transition: 0.4s;
  }

 .checked{
   opacity: 0.7;
   transform: scale(1.05);

   
 }