.tasks {
    display: flex;
      justify-content: space-between;
      
  }
  
  .tasks  div {
    margin: 20px auto;
    background-color: sandybrown;
    height: 50px;
    width: 70px;
    text-align: center;
    line-height: normal;
  }