.App {
  text-align: center;
}

.component1 {
height: 30px;
width: 100%;
background-color: pink;
color: skyblue;
}

.component2 {
  height: 30px;
  width: 100%;
  background-color: rgb(192, 193, 255);
  color: rgb(215, 135, 235);
  }


  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color:#322514;
  }

  .card {
    height: 400px;
    width: 200px;
    margin: 20px auto;
    border: 3px solid#be1558;
    border-radius: 10px;
    background-color:#fbcbc9;
    font-family:fantasy;
    
  }

  .card > .card_img {
    height: 180px;
    width: 180px;
    margin: 10px auto;
  
  }

  .card_img > img {
    height: 170px;
    width: 170px;
    border: 5px solid#e75874;
    border-radius: 50%;  
  }

  .card > .card_tittle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px; 
  }

.card > .card_text {
  margin: 10px; 
}


.tasks {
  display: flex;
    justify-content: space-between;
    
}

.tasks > p {
  margin: 20px auto;
}