.App {
  text-align: center;
}

.component1 {
height: 30px;
width: 100%;
background-color: pink;
color: skyblue;
}

.component2 {
  height: 30px;
  width: 100%;
  background-color: rgb(192, 193, 255);
  color: rgb(215, 135, 235);
  }